---
export const frontmatter = {
    title: "test post",
    pubDate: '2025-01-24',
}

---
<h1>ever thought of having Arbitrary Pages????</h1>
<p>with their own html, and their own styling??</p>
<p>back to the <a href="/blog">blog</a></p>
<hr>
<h2>same site but small:</h2>
<iframe 
    src="/blog" 
    width="300px"
    height="500px"
/>