* {
  box-sizing: border-box;
}

body {
  --color-background: #ffecff;
  --color-foreground: #01008c;
  --header-width: 25vw;

  display: grid;
  grid-template-columns: [header] var(--header-width) [content1] 1fr [content2] 1fr [free-space] 8vw;

  @media screen and (max-width: 524px) {
    grid-template-columns: [header] var(--header-width) [content1] 1fr [content2] 1fr;
  }
}

header {
  height: 100%;
  min-height: 100vh;
  background: url("/img/side_large.jpg");
  background-size: cover;
  background-attachment: fixed;

  grid-column: header / span 1;

  @media screen and (max-width: 524px) {
    grid-column: 1 / span 3;
    height: 150px;
    min-height: unset;
    background: url("/img/side.jpg") center center;
  }
}

.content {
  grid-column: content1 / span 2;
  margin-bottom: 10vh;

  @media screen and (max-width: 524px) {
    grid-column: 1 / span 3;
  }
}

.in-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;

  * {
    grid-column-end: span 2;
  }
}


html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body,
div,
li,
h1,
h2 {
  padding: 0;
  margin: 0;
  letter-spacing: 0.75px;
  font-family: sans-serif;
}

h1 {
  font-family: serif;
  font-size: 1.2em;
}

h3,
h4,
h5,
h6,
ul {
  margin-block: 0.5em;
}

li {
  margin-block: 0.25em;
}

li ul {
  margin-block: 0;
}

hr {
  margin: 25px 2vw;
  width: 66%;
  height: 1px;
  background-color: black;
  border: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* end global */



#page-header {
  color: var(--color-foreground);
}

.content {
  background-color: var(--color-background);
}

article p {
  text-align: justify;
}

.post {
  margin-bottom: 25px;
  margin-top: 10px;
}

.post-title {
  text-decoration: none;
  color: var(--color-foreground);
  text-transform: capitalize;
}

.entry p {
  margin-bottom: 2.5px;
}

.entry img {
  width: 100%;
  margin: 0 5px;
}

.read-more {
  font-size: 10px;
  color: black;
}

.pagination {
  margin: 12px 0;
}

.pagination a {
  color: black;
}

img.biopic {
  float: left;
  margin-right: 10px;
  width: auto;
}



@media screen and (max-width:524px) {
  .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .content {
    margin-top: 39px;
  }

  article {
    margin: 0 1.5vw;
  }

  .post {
    margin-top: 0;
  }
}

@media screen and (min-width:525px) {

  .header-links {
    position: fixed;
    width: 150px;
    left: calc(var(--header-width) - 150px - 2vh);
    bottom: 5vh;
  }

  .title-wrap {
    padding: 15px 0;
  }

  .title {
    font-size: 90px;
    line-height: 90px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-foreground);
  }

  .subtitle-wrap {
    position: relative;
    top: -13px;
  }

  .content {
    background-color: var(--color-background);
  }

  article {
    margin-inline: 1vw;
  }

  /* Media queries */
  @media screen and (max-width: 725px) {
    .title-wrap {
      width: 510.56;
      left: calc(66.6666vw - 530px)
    }

    .title {
      font-size: 65px;
      line-height: 65px;
    }
  }
}