---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "about";
---

<BaseLayout pageTitle={pageTitle}>
  <p>j konger is a from tampa, florida, a mostly fictional place</p>
</BaseLayout>
