---
import ContentBlock from "./ContentBlock.astro";

const { url, title } = Astro.props;
---

<ContentBlock title={title} link={url}>
    <slot />
    <p>
        <a href={url}>(view post)</a>
    </p>
</ContentBlock>
