---
import ContentBlock from "./ContentBlock.astro";

const book = Astro.props.book;
const { title, author, started, finished, cover } = book.frontmatter;

let bookHeading = "";
if (title) {
    bookHeading += title;
}
if (title && author) {
    bookHeading += " by ";
}
if (author) {
    bookHeading += author;
}

let logBook = "";
if (started) {
    logBook += new Date(started).toDateString();
}
if (started && finished) {
    logBook += " thru ";
}
if (finished) {
    logBook += new Date(finished).toDateString();
}
---

<ContentBlock classNames="book-block" fullWidth>
    <div class="cover">
        <img src={cover} alt="book cover" />
    </div>
    <div class="info">
        <h3>
            {bookHeading}
        </h3>
        <div class="logbook">
            <strong>read: </strong>
            {logBook}
        </div>
        <div class="comment">
            <slot />
        </div>
    </div>
</ContentBlock>

