---
import { datetimeRegex } from "astro/zod";
import ContentBlock from "./ContentBlock.astro";

const book = Astro.props.book;
const { title, author, started, finished, cover } = book.frontmatter;

let bookHeading = "";
if (title) {
    bookHeading += title;
}
if (title && author) {
    bookHeading += " by ";
}
if (author) {
    bookHeading += author;
}

let logBook = "";
if (started) {
    logBook += new Date(started).toDateString();
}
if (started && finished) {
    logBook += " thru ";
}
if (finished) {
    logBook += new Date(finished).toDateString();
}
---

<ContentBlock classNames="book-block">
    <div class="cover">
        <img src={cover} alt="book cover" />
    </div>
    <div class="info">
        <h3>
            {bookHeading}
        </h3>
        <div class="logbook">
            <strong>read: </strong>
            {logBook}
        </div>
        <div class="comment">
            <slot />
        </div>
    </div>
</ContentBlock>

<style>
    
.block {
    border: 1px solid #ffecff;
    background: #01008c;
}

.book-block {
    display: flex;
    gap: 0.5em;
}

.book-block .cover {
    width: 25%;
}

.book-block .info {
    padding-block: 1em;
    width: 75%;
    color: white;
}

.book-block .info h3 {
    margin: 0;
}

.book-block .info strong {
    filter: drop-shadow(.3em .3em 0em red);
}
</style>
