---
const year = new Date().getFullYear();
---

<style>
  footer {
    --gradient-stop: calc(99% - 158px);

    font-size: 0.65em;
    text-align: right;
    padding-block: 3px;
    padding-inline: 1%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) var(--gradient-stop),
      var(--color-background) 98%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
  }

  footer p {
    margin: 0;
  }
</style>

<footer class="site-footer">
  <p>&copy; 2015 - {year} | j konger</p>
</footer>
