---
import Navigation from "./navigation.astro";

const { pageTitle } = Astro.props;
---

<header class="with-shadow">
    <h1>
        <span class="me!">j konger</span>
        ・
        <span class="page-title">{pageTitle}</span>
    </h1>
    <Navigation />
</header>
