---
import Navigation from "./navigation.astro";

const { pageTitle } = Astro.props;
---

<header class="with-shadow">
    <div>
        <a href="/" class="me!">j konger</a>
        ・
        <span class="page-title">{pageTitle}</span>
    </div>
    <Navigation />
</header>
