---
const { hideShadow, noPadding, bottomMargin, class: className, isContainer } = Astro.props;
console.log(Astro.props)
---

<div
    class:list={[
        className,
        "island",
        { "with-shadow": !hideShadow },
        { "with-padding": !noPadding },
        { "bottom-margin": bottomMargin },
        { "is-container": isContainer },
    ]}
>
    <slot />
</div>

<style>
    .island {
        display: flex;
        border: 1px solid var(--color-foreground);
        
        &.is-container{
            container: island / inline-size;
        }

        &.with-padding {
            padding: 0.5rem;
        }

        &.bottom-margin {
            margin-bottom: 1.5rem;
        }
    }
</style>
