---

---

<nav class="header-links">
    <ul class="head-nav">
        <!-- <li class="head-link"><a href="/">about</a></li> -->
        <!-- <li class="head-link dark-light-switch">dark</li> -->
        <li class="head-link"><a href="/posts/1">blog</a></li>
        <li class="head-link"><a href="/books">bookshelf</a></li>
        <li class="head-link"><a href="/pubs">pubs</a></li>
        <li class="head-link">
            <a href="mailto:j@konger.online">contact</a>
        </li>
        <li class="head-link"><a href="/rss.xml">rss</a></li>
    </ul>
</nav>
