---

---

<nav class="header-links">
    <ul>
        <li><a href="/">about</a></li>
        <li><a href="/blog/">blog</a></li>
        <li><a href="/pubs">pubs</a></li>
        <li>
            <a href="mailto:j@konger.online">contact</a>
        </li>
        <li><a href="/rss.xml">RSS</a></li>
    </ul>
</nav>
