---
import { getCollection, render } from "astro:content";

import BlogLayout from "../../layouts/BlogLayout.astro";
import ContentBlock from "../../components/ContentBlock.astro";
// import Pagination from "../../components/Pagination.astro";

const collection = await getCollection("books");
const shuffledCollection = collection
  .map(value => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value);

const pageTitle = "books";
---

<BlogLayout pageTitle={pageTitle}>
    <ContentBlock title="here are some books i have read but not necessarily finished ">
      <div class="book-grid">
      {
        shuffledCollection.map((book) => {
          const {
            data: { title, author, finished, cover },
            id,
          } = book;
          return (
            <div class="book">
              {cover &&
              <img src={cover}></img> || <div class="no-cover-insert">
                  {title}, by {author}
              </div>}
            </div>
          );
        })
      }
    </div>
  </ContentBlock>
</BlogLayout>

<style>
.book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .book {
        width: 128px;
        height: 200px;
        overflow: hidden;

        .no-cover-insert {
            border: 1px solid var(--color-foreground);
            height: 100%;
            padding: 0.5em;
            text-align: center;
        }
    }
}
</style>
