---
import { Image } from "astro:assets";

import GridsLayout from "../layouts/GridsLayout.astro";
import Header from "../components/Header.astro";
import Island from "../components/Island.astro";

import sideImage from "../img/side.png";

import { randomItemFrom } from "../scripts/rng";
import { taglines } from "../data/taglines";

const { pageTitle } = Astro.props;
---

<GridsLayout {...Astro.props} >
  <Fragment slot="info-column">
    <Island noPadding>
      <a href="/" style="line-height:0;">
         <Image
           src={sideImage}
           width="450"
           alt="A beautiful building in simulated night."
           class="header-img"
         />
       </a>
     </Island>
     <Island> {randomItemFrom(taglines)}</Island>
  </Fragment>  
  
  <Fragment slot="default">
      <h1>{pageTitle}</h1>
      <article class="page">
        <slot />
      </article>
  </Fragment>
</GridsLayout>


<style>
	.header-img {
		opacity: 0.1;
		min-width: min(96vw, 420px);
    }
</style>
