---
import ContentBlock from "../components/ContentBlock.astro";
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate).toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
});
---


<BlogLayout pageTitle={frontmatter.title}>
    <ContentBlock title=`${date}` fullWidth>
        <slot />
    </ContentBlock>
    <ContentBlock title="tags">
        <div class="tags">
            {
                frontmatter.tags.map((tag) => (
                    <p class="tag">
                        <a href={`/tags/${tag}`}>{tag}</a>
                    </p>
                ))
            }
        </div>
    </ContentBlock>
</BlogLayout>

<style>
    .tags {
        display: flex;
        flex-wrap; wrap;
    }

    .tag {
        margin: 0.25em;
    }
</style>
