---
import ContentBlock from "../ContentBlock.astro";

const { fullWidth } = Astro.props;
---

<ContentBlock title="about" fullWidth={fullWidth}>
    <p>j konger is a from tampa, florida, a mostly fictional place</p>
</ContentBlock>
