---
import ContentBlock from "../ContentBlock.astro";

const { fullWidth } = Astro.props;
---

<ContentBlock title="about" fullWidth={fullWidth} link="/about">
    <p>j konger is from tampa, florida, a mostly fictional place</p>
</ContentBlock>
