---
import ContentBlock from "../ContentBlock.astro";

const { fullWidth } = Astro.props;
---

<ContentBlock title="now" fullWidth={fullWidth} link="/now">
    <div id="content">
        <h3 id="work">Work</h3>
        <ul>
            <li>
                Senior Associate Web Developer at an unnamed environmental
                non-profit
            </li>
            <li>that means i work with wordpress</li>
        </ul>
        <h3 id="writing-projects">Writing Projects</h3>
        <h4 id="writing">Writing</h4>
        <ul>
            <li>
                "Genre" trilogy:<ul>
                    <li>The Girl</li>
                    <li>The Revolution</li>
                </ul>
            </li>
            <li>
                "Litfic" trilogy:<ul>
                    <li>The Mime</li>
                </ul>
            </li>
            <li>Countless short stories and poems</li>
        </ul>
        <h4 id="seeking-publication">Seeking publication</h4>
        <ul>
            <li>
                "Genre" trilogy:<ul>
                    <li>Kossler!</li>
                </ul>
            </li>
            <li>The Great American Desert</li>
            <li>From Above</li>
            <li>Countless short stories and poems</li>
        </ul>
        <h3 id="other-projects">Other Projects</h3>
        <ul>
            <li>this site</li>
        </ul>
        <h3 id="learning">Learning</h3>
        <ul>
            <li>Japanese</li>
        </ul>
    </div>
</ContentBlock>
